In [1]:
a = {"value1", "value2", "value3"}

In [2]:
a

{'value1', 'value2', 'value3'}

In [3]:
a = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}

In [4]:
# Approach 1 
state_wise_data = [("Delhi", 70), ("Kerala", 99), ("UP", 50), ("Nagaland", 65)]

In [5]:
state_wise_data[2]

('UP', 50)

In [7]:
# Approach 2
state_wise_data = {
    "Delhi": 70,
    "Kerala": 99,
    "UP": 50,
    "Nagaland": 65
}

In [8]:
state_wise_data["Delhi"]

70

In [9]:
state_wise_data["UP"]

50

In [10]:
state_wise_data[1]

KeyError: 1

In [11]:
state_wise_data

{'Delhi': 70, 'Kerala': 99, 'UP': 50, 'Nagaland': 65}

In [13]:
'''
Before Python 3.7 -> Dictionaries were unordered
After Python 3.7 -> Dictionaries are ordered internally but we will not consider them as that.
'''

'\nBefore Python 3.7 -> Dictionaries were unordered\nAfter Python 3.7 -> Dictionaries are ordered internally but we will not consider them as that.\n'

In [14]:
a = {}

In [15]:
type(a)

dict

In [16]:
a

{}

In [17]:
a = {
    "Delhi": 70,
    "Kerala": 99,
    "UP": 50,
    "Nagaland": 65
}

In [18]:
a["Maharashtra"] = 80

In [19]:
a

{'Delhi': 70, 'Kerala': 99, 'UP': 50, 'Nagaland': 65, 'Maharashtra': 80}

In [22]:
a["Delhi"] = 85 # THESE KEYS ARE CASE SENSITIVE

In [23]:
a

{'Delhi': 85, 'Kerala': 99, 'UP': 50, 'Nagaland': 65, 'Maharashtra': 80}

In [24]:
# Heterogeneity in a dictionary
# Keys -> Strings
# Values -> ANY PYTHON OBJECT

In [26]:
Avenger = {
    "name": "Thor",
    "age": 1500,
    "weapons": ["stormbreaker", "mjolnir"]
}

In [27]:
# Adding and updating values with one operation

In [28]:
Avenger.update({
    "name": "Thor Odinson",
    "weapons": ["stormbreaker"],
    "strongest?": True,
    "eyes": 1
})

In [29]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [30]:
random = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
}

In [31]:
random["b"]

2

In [34]:
result = random["e"] # Key is not present in the dictionary

KeyError: 'e'

In [35]:
result = random.get("e")

In [36]:
print(result)

None

In [39]:
result = random.get("e", False)
# This default value will be returned in case the key does not exist

In [40]:
result

False

In [41]:
random.get("a")

1

In [42]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [44]:
Avenger.get("weapons").append("mjolnir")

In [45]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [46]:
a

{'Delhi': 85, 'Kerala': 99, 'UP': 50, 'Nagaland': 65, 'Maharashtra': 80}

In [51]:
random

{'a': 1, 'b': 2, 'c': 3}

In [53]:
random = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
}
# takes a key as input and removes that key value pair

In [54]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [55]:
random.pop("d")

In [56]:
random

{'a': 1, 'b': 2, 'c': 3}

In [57]:
random.pop()

TypeError: pop expected at least 1 argument, got 0

In [58]:
# KEYS IN A DICIONARY ARE UNIQUE

In [60]:
a = {
    "a": 1,
    "b": 2
}

In [61]:
a["a"] = 4

In [62]:
a

{'a': 4, 'b': 2}

In [64]:
'''
Question 1 - 
Given two dictionaries A and B, Write a python program to merge these two dictionaries.

A = {
    "a": 5,
    "b": 6
}

B = {
    "b": 7,
    "d": 2
}

Result = {
    "a": 5,
    "b": 7,
    "d": 2
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, Write a python program to merge these two dictionaries.\n\nA = {\n    "a": 5,\n    "b": 6\n}\n\nB = {\n    "b": 7,\n    "d": 2\n}\n\nResult = {\n    "a": 5,\n    "b": 7,\n    "d": 2\n}\n'

In [72]:
A = {
    "a": 5,
    "b": 6
}

B = {
    "b": 7,
    "d": 2
}

In [66]:
A.update(B) # Method 1

In [67]:
A

{'a': 5, 'b': 7, 'd': 2}

In [73]:
result = A | B # Method 2 - VERY NEW

In [74]:
result

{'a': 5, 'b': 7, 'd': 2}

In [75]:
result = A.union(B)

AttributeError: 'dict' object has no attribute 'union'

In [76]:
# ITERATION IN A DICTIONARY

In [79]:
a = Avenger

In [80]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [82]:
for i in a: # by default iteration happens over keys
    print(i)

name
age
weapons
strongest?
eyes

In [83]:
for i in a:
    print(a[i])

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [84]:
for i in a:
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [87]:
a.keys()

dict_keys(['name', 'age', 'weapons', 'strongest?', 'eyes'])

In [85]:
for i in a.keys():
    print(i)

name
age
weapons
strongest?
eyes

In [88]:
a.values()

dict_values(['Thor Odinson', 1500, ['stormbreaker', 'mjolnir'], True, 1])

In [86]:
for i in a.values():
    print(i)

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [90]:
a.items()

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapons', ['stormbreaker', 'mjolnir']), ('strongest?', True), ('eyes', 1)])

In [89]:
for i in a.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapons', ['stormbreaker', 'mjolnir'])
('strongest?', True)
('eyes', 1)

In [91]:
for key, value in a.items():
    print(f"{key} -> {value}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [92]:
a = [1,2,3,4,5]

In [93]:
5 in a

True

In [95]:
"random" in Avenger.keys()

False

In [96]:
"age" in Avenger

True

In [97]:
"random" in Avenger

False

In [98]:
'''
Question 2 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the string

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''

'\nQuestion 2 - \n1. Take a string as input.\n2. Create a dictionary acc to the following criteria - \n- There will be one key value pair for each unique character - \n- Key will be character and value will be the count of character inside the string\n\nINPUT - "rrsssstttt"\nOUTPUT -\n{\n    "r": 2,\n    "s": 4,\n    "t": 4\n}\n'

In [121]:
a = "random input with lots of random randomness"

In [123]:
a.count(" ")

6

In [124]:
result = {}

In [125]:
result[" "] = a.count(" ")

In [126]:
result

{' ': 6}

In [122]:
set(a)

{' ',
 'a',
 'd',
 'e',
 'f',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w'}

In [102]:
def count_frequency(a):
    result = {}
    
    for i in set(a):
        result[i] = a.count(i)
        
    return result

In [103]:
count_frequency(a)

{'r': 3,
 ' ': 6,
 'n': 5,
 'm': 3,
 'i': 2,
 't': 3,
 'o': 5,
 'w': 1,
 's': 3,
 'f': 1,
 'd': 3,
 'e': 1,
 'a': 3,
 'p': 1,
 'u': 1,
 'h': 1,
 'l': 1}

In [106]:
result = {}
while True:
    key = input()
    value = input()
    result[key] = value
    
    choice = input("Do you want to add another key value pair? (N/n if no) - ")
    
    if choice in ["N", "n"]:
        break

n
5
Do you want to add another key value pair? (N/n if no) - n

In [105]:
result

{'random': '1', 'random2': '2'}

In [107]:
# ACTUAL HETEROGENEITY

In [108]:
# Keys -> Any immutable data type (Anything other than lists / dictionaries / sets)

In [112]:
# Mutable (Can be changed) -> Lists, Sets and Dictionaries
# Immutable (Can't be changed) -> Int, Float, Boolean, String, Tuples

In [109]:
random = {
    "key1": [4,45,67],
    "key2": {
        (1,2,3): 45
    },
    45: "value2",
    45.67: "value3",
    True: {2,3,4}
}

In [110]:
random = {
    "key1": [4,45,67],
    "key2": {
        [1,2,3]: 45
    },
    45: "value2",
    45.67: "value3",
    True: {2,3,4}
}

TypeError: unhashable type: 'list'

In [111]:
# UNHASHABLE -> HASHING - We will be revisiting sets an dictionaries once again in Intermediate

In [113]:
# We will be covering the following two concepts in Intermediate - 
# 1. Python Refresher 1 -> Mutable vs Immutable
# 2. Hashing -> Why sets and dictionaries throw this unhashable error

In [114]:
a = [("Delhi", 70), ("Kerala", 99), ("UP", 50), ("Nagaland", 65)]

In [115]:
dict(a)

{'Delhi': 70, 'Kerala': 99, 'UP': 50, 'Nagaland': 65}

In [117]:
# TRUE = 1

In [119]:
# FALSE = 0