In [1]:
'''
Question 1 - 
FIZZBUZZ - 
1. Take an integer input n
2. If N is a multiple of 3 -> print FIZZ
3. If N is a multiple of 5 -> print BUZZ
4. If N is a multiple of both 3 and 5 -> FIZZBUZZ

Otherwise print nothing.
'''

'\nQuestion 1 - \nFIZZBUZZ - \n1. Take an integer input n\n2. If N is a multiple of 3 -> print FIZZ\n3. If N is a multiple of 5 -> print BUZZ\n4. If N is a multiple of both 3 and 5 -> FIZZBUZZ\n\nOtherwise print nothing.\n'

In [4]:
n = int(input())

if n % 3 == 0:
    print("FIZZ")
elif n % 5 == 0:
    print("BUZZ")
elif n % 3 == 0 and n % 5 == 0:
    print("FIZZBUZZ")
else:
    print()

15
FIZZ

In [9]:
n = int(input())

if n % 3 == 0 and n % 5 == 0:
    print("FIZZBUZZ")
elif n % 5 == 0:
    print("BUZZ")
elif n % 3 == 0:
    print("FIZZ")
else:
    print()

15
FIZZBUZZ

In [10]:
'''
Question 2 - 
What will be the output of the following code?

a = 50
if a > 40:
    print("A")
if a > 30:
    print("B")
if a > 20:
    print("C")
'''

'\nQuestion 2 - \nWhat will be the output of the following code?\n\na = 50\nif a > 40:\n    print("A")\nif a > 30:\n    print("B")\nif a > 20:\n    print("C")\n'

In [11]:
a = 50

if a > 40:
    print("A")
    
if a > 30:
    print("B")
    
if a > 20:
    print("C")

A
B
C

In [12]:
a = 50

if a > 40:
    print("A")
elif a > 30:
    print("B")
elif a > 20:
    print("C")

A

In [13]:
'''
Question 3 - 
Take in three inputs from a user which are marks in english, maths and science.
Assign streams according to the following criteria.
- if science > 90 or marks in all subjects are greater than equal to 75 -> Science
- if marks in all subjects are greater than 60 -> Commerce
- if marks in any are less than or equal to 60 -> Humanities
'''

'\nQuestion 3 - \nTake in three inputs from a user which are marks in english, maths and science.\nAssign streams according to the following criteria.\n- if science > 90 or marks in all subjects are greater than equal to 75 -> Science\n- if marks in all subjects are greater than 60 and less than 75 -> Commerce\n- if marks in any are less than 60 -> Humanities\n'

In [17]:
m = int(input("Marks in Maths - "))
s = int(input("Marks in Science - "))
e = int(input("Marks in English - "))

if s > 90 or (s >= 75 and e >= 75 and m >= 75):
    print("Science")
elif s > 60 and m > 60 and e > 60:
    print("Commerce")
else:
    print("Humanity")

Marks in Maths - 60
Marks in Science - 60
Marks in English - 60
Humanity

In [18]:
'''
BONUS QUESTIONS - 
1. Build a meter system for an auto. Take into two inputs. 
Kilometers Travelled and Stall Time (in minutes). Rate List -
- First 10 kms - Rs 10 per Km
- Next 40 kms - Rs 9 per Km
- Next 100 kms - Rs 8 per Km
- Any leftover km count - Rs. 6 per Km

- Rs 5 extra for every minute of Stall Time.

------------------------------------------

2. Generate electricity bill using the following rate card.
Take units consumed as input -
- If < 100 units -> Free
- If >= 100 units and < 200 units -> Rs 2 per unit
- If >= 200 units -> Rs 5 per unit

'''

'\nBONUS QUESTIONS - \n1. Build a meter system for an auto. Take into two inputs. \nKilometers Travelled and Stall Time (in minutes). Rate List -\n- First 10 kms - Rs 10 per Km\n- Next 40 kms - Rs 9 per Km\n- Next 100 kms - Rs 8 per Km\n- Any leftover km count - Rs. 6 per Km\n\n- Rs 5 extra for every minute of Stall Time.\n\n------------------------------------------\n\n2. Generate electricity bill using the following rate card.\nTake units consumed as input -\n- If < 100 units -> Free\n- If >= 100 units and < 200 units -> Rs 2 per unit\n- If >= 200 units -> Rs 5 per unit\n\n'

In [19]:
# SHORT CIRCUITING

In [20]:
5 or True
# Truthy or any_other_value

5

In [21]:
0 or 7
# Falsy or any_other_value

7

In [24]:
True or 0

True

In [22]:
0 or False

False

In [23]:
'''
OR Operation in Python ->
First Value Truthy -> First Value (Ignores the second value)
First Value is Falsy -> Second Value
'''

'\nOR Operation in Python ->\nFirst Value Truthy -> First Value\nFirst Value is Falsy -> Second Value\n'

In [25]:
1 and True

True

In [26]:
5 and True

True

In [27]:
4 and 5

5

In [28]:
5 and 0

0

In [29]:
True and False

False

In [30]:
True and ""

''

In [31]:
False and 5

False

In [32]:
False and 0

False

In [33]:
0 and 5

0

In [34]:
"" and "something"

''

In [35]:
'''
AND Operation in Python ->
First Value Truthy -> Second Value
First Value is Falsy -> First Value (Ignores the second value)
'''

'\nAND Operation in Python ->\nFirst Value Truthy -> Second Value\nFirst Value is Falsy -> First Value (Ignores the second value)\n'

In [36]:
# Logical Operators

# Not (Highest)
# And
# Or (Lowest)

In [37]:
True and False or True and True
# False or True and True
# False or True
# True

True

In [40]:
True and 1 or 0 and True
# 1 or 0 and True
# 1 or 0
# 1

1

In [41]:
not 1

False

In [42]:
not 1 and False or 0 and True and 7 or not True
# False and False or 0 and True and 7 or not True
# False and False or 0 and True and 7 or False
# False or 0 and True and 7 or False
# False or 0 and 7 or False
# False or 0 or False
# 0 or False
# False

False

In [43]:
not 2

False

In [44]:
not 6

False

In [45]:
not 10000000003642398562873465

False

In [46]:
(x == "super") or "great" or "fantastic"
# x == "super" or "fantastic"
# x == "super"

NameError: name 'x' is not defined