In [1]:
print("Dust all the rooms!")
print("Arrange the living area!")
print("Go and get cold drinks and mixtures from grocery shop!")
print("Turn on the fancy lights!")
print("Take out the fancy dinner set!")
print("Touch feet when you see them!")

Dust all the rooms!
Arrange the living area!
Go and get cold drinks and mixtures from grocery shop!
Turn on the fancy lights!
Take out the fancy dinner set!
Touch feet when you see them!

In [2]:
print("Dust all the rooms!")
print("Arrange the living area!")
print("Go and get cold drinks and mixtures from grocery shop!")
print("Turn on the fancy lights!")
print("Take out the fancy dinner set!")
print("Touch feet when you see them!")

Dust all the rooms!
Arrange the living area!
Go and get cold drinks and mixtures from grocery shop!
Turn on the fancy lights!
Take out the fancy dinner set!
Touch feet when you see them!

In [3]:
print("Dust all the rooms!")
print("Arrange the living area!")
print("Go and get cold drinks and mixtures from grocery shop!")
print("Turn on the fancy lights!")
print("Take out the fancy dinner set!")
print("Touch feet when you see them!")

Dust all the rooms!
Arrange the living area!
Go and get cold drinks and mixtures from grocery shop!
Turn on the fancy lights!
Take out the fancy dinner set!
Touch feet when you see them!

In [6]:
# let's write a function for it
# def -> keyword

def prepare_for_guests():
    print("Dust all the rooms!")
    print("Arrange the living area!")
    print("Go and get cold drinks and mixtures from grocery shop!")
    print("Turn on the fancy lights!")
    print("Take out the fancy dinner set!")
    print("Touch feet when you see them!")

In [7]:
prepare_for_guests()

Dust all the rooms!
Arrange the living area!
Go and get cold drinks and mixtures from grocery shop!
Turn on the fancy lights!
Take out the fancy dinner set!
Touch feet when you see them!

In [8]:
prepare_for_guests()

Dust all the rooms!
Arrange the living area!
Go and get cold drinks and mixtures from grocery shop!
Turn on the fancy lights!
Take out the fancy dinner set!
Touch feet when you see them!

In [9]:
'''
Question 1 - 
Write a piece of code which prints "Making Tea" five times.
'''

'\nQuestion 1 - \nWrite a piece of code which prints "Making Tea" five times.\n'

In [10]:
for i in range(5):
    print("Making Tea") # logic to make tea

Making Tea
Making Tea
Making Tea
Making Tea
Making Tea

In [11]:
print("Making Tea")

Making Tea

In [12]:
def make_tea():
    print("Making Tea")

In [13]:
make_tea()

Making Tea

In [14]:
for i in range(5):
    make_tea()

Making Tea
Making Tea
Making Tea
Making Tea
Making Tea

In [15]:
def sheldon_knock():
    print("knock knock knock penny")
    print("knock knock knock penny")
    print("knock knock knock penny")

In [16]:
sheldon_knock()

knock knock knock penny
knock knock knock penny
knock knock knock penny

In [17]:
def sheldon_knock(name): # this function accepts an argument name
    print("knock knock knock", name)
    print("knock knock knock", name)
    print("knock knock knock", name)

In [18]:
sheldon_knock("karthik")

knock knock knock karthik
knock knock knock karthik
knock knock knock karthik

In [19]:
sheldon_knock("bipin")

knock knock knock bipin
knock knock knock bipin
knock knock knock bipin

In [20]:
random = "deepthi"

In [21]:
sheldon_knock(random)

knock knock knock deepthi
knock knock knock deepthi
knock knock knock deepthi

In [23]:
input_name = input()

sheldon_knock(input_name)

rahul
knock knock knock rahul
knock knock knock rahul
knock knock knock rahul

In [24]:
'''
Question 2 - 
Take a name as input.
Write a greeter function which prints, "Hello, <name> :)"
after accepting name as an argument.
'''

'\nQuestion 2 - \nTake a name as input.\nWrite a greeter function which prints, "Hello, <name> :)"\nafter accepting name as an argument.\n'

In [26]:
def greeter(name):
    print("Hello", name, ":)")

In [28]:
random_name = input()

greeter(random_name)

shraddha
Hello shraddha :)

In [29]:
'''
Question 3 - 
Write down a proposal function :)
You have been given a dare. Take an input name from your friends. 
Write a function which takes that name as argument and prints
"I LOVE YOU NAME! :)"
'''

'\nQuestion 3 - \nWrite down a proposal function :)\nYou have been given a dare. Take an input name from your friends. \nWrite a function which takes that name as argument and prints\n"I LOVE YOU NAME! :)"\n'

In [30]:
dare_name = input()

Emma Watson

In [31]:
def propose(name):
    print("I LOVE YOU", name)

In [32]:
propose(dare_name)

I LOVE YOU Emma Watson

In [33]:
name1 = "Hinata"

In [34]:
propose(name1)

I LOVE YOU Hinata

In [35]:
propose("Emilia Clarke")

I LOVE YOU Emilia Clarke

In [42]:
# A function can accept multiple arguments

In [37]:
def introduce_family(father, mother, sibling):
    print("Father's Name:", father)
    print("Mother's Name:", mother)
    print("Sibling's Name:", sibling)

In [38]:
introduce_family("Brad Pitt", "Angelina Jolie", "Stormi")

Father's Name: Brad Pitt
Mother's Name: Angelina Jolie
Sibling's Name: Stormi

In [39]:
introduce_family("Angelina Jolie", "Stormi", "Brad Pitt")

Father's Name: Angelina Jolie
Mother's Name: Stormi
Sibling's Name: Brad Pitt

In [40]:
introduce_family("A", "B")

TypeError: introduce_family() missing 1 required positional argument: 'sibling'

In [41]:
introduce_family("A", "B", "C", "D")

TypeError: introduce_family() takes 3 positional arguments but 4 were given

In [43]:
s1 = 'this is a string which uses single quotes'

In [44]:
s1

'this is a string which uses single quotes'

In [45]:
s2 = "this is a string which uses double quotes"

In [46]:
s2

'this is a string which uses double quotes'

In [49]:
s3 = '''this is a string which uses triple quotes'''
# these are special strings called docstrings

In [50]:
s3

'this is a string which uses triple quotes'

In [51]:
s4 = '''
this is a string which contains
    multiple lines and         various extra
            white
            
spaces!
'''

In [52]:
s4

'\nthis is a string which contains\n    multiple lines and         various extra\n            white\n            \nspaces!\n'

In [54]:
def random(a, b):
    '''
    This function takes two arguments - 
    a and b can be of any type
    
    Output - Prints both the arguments separated by space
    '''
    
    print(a, b)

In [55]:
random("a", "b")

a b

In [56]:
help(random)

Help on function random in module __main__:

random(a, b)
    This function takes two arguments -
    a and b can be of any type

    Output - Prints both the arguments separated by space

In [60]:
# help(print)

In [59]:
# help(type)

In [61]:
'''
this is also possible
'''

'\nthis is also possible\n'

In [62]:
"""
this is also possible
"""

'\nthis is also possible\n'

In [63]:
help(random_function)

NameError: name 'random_function' is not defined

In [64]:
4 + 5

9

In [65]:
"string1" + "string2"

'string1string2'

In [66]:
"string1" + 1

TypeError: can only concatenate str (not "int") to str

In [67]:
def add_two(a, b):
    '''
    Arguments - 
    a: Int or String
    b: Int or String
    
    Note - Please do not enter mixed data types i.e. both integers or both strings
    
    Output - 
    Str + Str -> Concatenation
    Int + Int -> Addition
    '''
    
    result = a + b
    print(result)

In [68]:
help(add_two)

Help on function add_two in module __main__:

add_two(a, b)
    Arguments -
    a: Int or String
    b: Int or String

    Note - Please do not enter mixed data types i.e. both integers or both strings

    Output -
    Str + Str -> Concatenation
    Int + Int -> Addition

In [69]:
45

45

In [70]:
print(45)

45

In [71]:
def money_back(money):
    print(money)

In [72]:
money_back(500)

500

In [73]:
received = money_back(500)

500

In [74]:
print(received)

None

In [75]:
def add_two_numbers(a, b):
    print(a + b)

In [76]:
result = add_two_numbers(5, 6)

11

In [77]:
print(result)

None

In [78]:
def add_two_numbers(a, b):
    return a + b # return statement of a function

In [79]:
result = add_two_numbers(5, 6)

In [80]:
print(result)

11

In [81]:
def add_two_numbers_with_print(a, b):
    print(a + b)
    
    
def add_two_numbers_with_return(a, b):
    return a + b

In [82]:
add_two_numbers_with_print(5,6)

11

In [83]:
add_two_numbers_with_return(5,6)

11

In [84]:
def add_two_numbers_with_both(a, b):
    print( a + b )
    return a + b

In [85]:
add_two_numbers_with_both(5,6)

11

11