In [1]:
a = "double quotes"

In [2]:
b = 'single quotes'

In [3]:
c = '''triple quotes''' # docstrings

In [4]:
d = """triple double quotes""" # docstrings

In [7]:
type(d)

str

In [8]:
x = "anything that you write here, including 1234567890 !@#$%^&*(){:>?{}}"

In [9]:
type(x)

str

In [12]:
# mixed quotations are not valid

In [13]:
'a"

SyntaxError: EOL while scanning string literal (1492347280.py, line 1)

In [22]:
a = "I am writing something \"double quotes\" something something"
# escape characters

In [15]:
a

'I am writing something "double quotes" something something'

In [16]:
a = 'abc "random" def' # double quotes inside single quotes

In [17]:
a

'abc "random" def'

In [23]:
a = "abc 'random' def" # single quotes inside double quotes

In [24]:
a

"abc 'random' def"

In [31]:
"a" > "b"

# lexicographical comparison - string which will come later in a dictionary will have higher value
# ASCII -> What? Why? Where? -> SECOND HALF OF THIS LECTURE.

False

In [28]:
"a" > "A" # also because of ASCII

True

In [29]:
"random" + "123"

'random123'

In [30]:
"bla" * 2 * 3

'blablablablablabla'

In [32]:
"zebra" > "ahfgjsdhefusgdfhaegfdasfdhajdaghasjvdhsgdfahsvxajbcjhawgdhabcvdzhg"

True

In [33]:
# INPUTS -> length and breadth
# Calculate Area.
# Print the following string -
# "Length = <l>, Breadth = <b>, Area = <a>"

In [34]:
length = 5
breadth = 10

In [35]:
def calc_area_1(l, b):
    a = l * b
    
    print("Length =", l, "Breadth =", b, "Area =", a)

In [36]:
calc_area_1(length, breadth)

Length = 5 Breadth = 10 Area = 50

In [37]:
def calc_area_2(l, b):
    a = l * b
    
    print("Length = {}, Breadth = {}, Area = {}".format(l, b, a))

In [38]:
calc_area_2(length, breadth)

Length = 5, Breadth = 10, Area = 50

In [39]:
def calc_area_2(l, b):
    a = l * b
    
    print("Length = {2}, Breadth = {1}, Area = {0}".format(a, b, l))

In [40]:
def calc_area_3(l, b):
    a = l * b
    
    print(f"Length = {l}, Breadth = {b}, Area = {a}")

In [41]:
calc_area_3(length, breadth)

Length = 5, Breadth = 10, Area = 50

In [42]:
l = 5
b = 10
a = l * b

In [46]:
print("Length =", l, ", Breadth =", b, ", Area =", a)
print("Length = {}, Breadth = {}, Area = {}".format(l, b, a))
print(f"Length = {l}, Breadth = {b}, Area = {a}")

Length = 5 , Breadth = 10 , Area = 50
Length = 5, Breadth = 10, Area = 50
Length = 5, Breadth = 10, Area = 50

In [47]:
s1 = "string1"
s2 = "string2"

a = s1 + " , " + s2

In [48]:
a

'string1 , string2'

In [50]:
b = f"{s1} , {s2}"

In [51]:
b

'string1 , string2'

In [52]:
# given a character - get the integer value (mapping)
ord("a")

97

In [53]:
ord("\n")

10

In [54]:
ord(" ")

32

In [55]:
# given an integer / mapping value - get the corresponding character
chr(97)

'a'

In [56]:
chr(98)

'b'

In [57]:
chr(48)

'0'

In [58]:
'''
Question 1 - 
1. Take a string as input from the user.
2. Print the string character by character in new lines.

INPUT - VIRAT
OUTPUT - 
V
I
R
A
T
'''

'\nQuestion 1 - \n1. Take a string as input from the user.\n2. Print the string character by character in new lines.\n\nINPUT - VIRAT\nOUTPUT - \nV\nI\nR\nA\nT\n'

In [59]:
a = input()

for i in a:
    print(i)

SHUBHMAN
S
H
U
B
H
M
A
N

In [60]:
'''
Question 2 - 
1. Take a string as input from the user.
2. Print the following - 
"First character - f, Last character - l"
'''

'\nQuestion 2 - \n1. Take a string as input from the user.\n2. Print the following - \n"First character - f, Last character - l"\n'

In [63]:
a = input()

print(f"First character - {a[0]}, Last character - {a[-1]}")

random
First character - r, Last character - m

In [64]:
'''
Question 3 - 
1. Take a string as input.
2. Reverse that string.
'''

'\nQuestion 3 - \n1. Take a string as input.\n2. Reverse that string.\n'

In [65]:
a = input()

print(a[::-1])

pooja
ajoop

In [66]:
'''
Question 4 - 
1. Take a string as input.
2. Check whether that string is a palindrome or not.

NAMAN - Palindrome
SHAKER - Not a palindrome
'''

'\nQuestion 4 - \n1. Take a string as input.\n2. Check whether that string is a palindrome or not.\n\nNAMAN - Palindrome\nSHAKER - Not a palindrome\n'

In [68]:
"Naman".lower()

'naman'

In [69]:
def check_palindrome(a):
    a = a.lower()
    
    if a == a[::-1]:
        return True
    else:
        return False

In [73]:
a = input()

check_palindrome(a)

shubham

False

In [74]:
'''
Question 5 -
1. Take a string as input from the user.
2. Print the number of uppercase characters in that string. (alphabets)

INPUT - "This is a Random%^&*()"
OUTPUT - 2
'''

'\nQuestion 5 -\n1. Take a string as input from the user.\n2. Print the number of uppercase characters in that string. (alphabets)\n\nINPUT - "This is a Random%^&*()"\nOUTPUT - 2\n'

In [75]:
a = "This is a Random%^&*()"

In [76]:
def count_uppercase(a):
    count = 0
    
    for i in a:
        if ord(i) >= 65 and ord(i) <= 90:
            count += 1
            
    return count

In [77]:
count_uppercase(a)

2

In [80]:
def count_uppercase(a):
    count = 0
    
    for i in a:
        if i.isupper():
            # returns True if uppercase else returns False
            count += 1
    
    return count

In [81]:
count_uppercase(a)

2

In [82]:
"A".lower()

'a'

In [83]:
"A".islower()

False

In [84]:
"A".isupper()

True

In [85]:
"a".upper()

'A'

In [86]:
'''
Question 6 -
1. You are given a list as input to a function.
2. Generate a string from the chr values of the integers in the list.

INPUT = [65, 97, 68]
OUTPUT = "AaD"

EXPLANATION - 
"A" -> 65
"a" -> 97
"D" -> 68
'''

'\nQuestion 6 -\n1. You are given a list as input to a function.\n2. Generate a string from the chr values of the integers in the list.\n\nINPUT = [65, 97, 68]\nOUTPUT = "AaD"\n\nEXPLANATION - \n"A" -> 65\n"a" -> 97\n"D" -> 68\n'

In [87]:
input_list = []

for i in range(5):
    input_list.append(int(input()))

56
49
100
102
67

In [88]:
input_list

[56, 49, 100, 102, 67]

In [93]:
def generate_string(a):
    result = ""
    
    for i in a:
        result += chr(i)
        
    return result


'''
i = 56 -> chr(56) = 8
result = "" -> result = result + "8" -> "8"

i = 49 -> chr(49) = 1
result = "8" -> result = result + "1" -> "81"
.
.
.
'''

'\ni = 56 -> chr(56) = 8\nresult = "" -> result = result + "8" -> "8"\n\ni = 49 -> chr(49) = 1\nresult = "8" -> result = result + "1" -> "81"\n.\n.\n.\n'

In [92]:
generate_string(input_list)

'81dfC'