In [1]:
range(2,8)

range(2, 8)

In [2]:
len(range(2,8))

6

In [3]:
range(8) # start value is set at 0 by default

range(0, 8)

In [5]:
range(1.5, 7.5) # ranges can only work with integers

TypeError: 'float' object cannot be interpreted as an integer

In [6]:
range(2, 6, 0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
range(6, 2, -1)

range(6, 2, -1)

In [11]:
for i in range(2,9,2):
    print(i)

2
4
6
8

In [15]:
for i in range(9,2,-2):
    print(i, end = " ")

9 7 5 3

In [14]:
for i in range(9,2,2): # generates an empty range
    print(i)

In [17]:
for i in range(-5, -10, -1):
    print(i)

-5
-6
-7
-8
-9

In [18]:
for i in range(0, 9, 0):
    print(i)

ValueError: range() arg 3 must not be zero

In [20]:
'''
Question 1 - 
Print all numbers from 1 to N using a for loop. N included.
Take N as input from the user.
'''

'\nQuestion 1 - \nPrint all numbers from 1 to N using a for loop. N included.\nTake N as input from the user.\n'

In [24]:
number = int(input("Please enter a number - "))

for i in range(1, number + 1):
    print(i)

Please enter a number - 3
1
2
3

In [26]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [27]:
for x in range(5):
    print(x)

0
1
2
3
4

In [28]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N. (N included)
'''

'\nQuestion 2 - \nTake N as input from the user.\nCalculate the sum of all numbers from 1 to N. (N included)\n'

In [31]:
number = int(input("Please Enter a positive number -"))

final_sum = 0

for value in range(1, number + 1):
    final_sum += value
    
print(final_sum)

Please Enter a positive number -5
15

In [33]:
'''
Question 3 - 
Take N an input from the user.
Calculate the product of all numbers from 1 to N. (N included)
'''

'\nQuestion 3 - \nTake N an input from the user.\nCalculate the product of all numbers from 1 to N. (N included)\n'

In [37]:
number = int(input())

factorial = 1

for i in range(1, number + 1):
    factorial *= i
    
print(factorial)

4
24

In [38]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. 
Both included.
'''

'\nQuestion 4 - \nTake N as input from the user.\nCalculate the product of all even numbers between 1 and N. \nBoth included.\n'

In [39]:
number = int(input("Please enter a number - "))

even_product = 1

for i in range(2, number + 1, 2):
    even_product *= i
    
print(even_product)

Please enter a number - 10
3840

In [40]:
number = int(input("Please enter a number - "))

even_product = 1

for i in range(1, number + 1):
    if i % 2 == 0:
        even_product *= i
    
print(even_product)

Please enter a number - 10
3840

In [41]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.
'''

'\nQuestion 5 - \nTake start and end as input from the user.\nCalculate the product of all even numbers between start and end.\nBoth included.\n'

In [44]:
# EASY WAY

s = int(input("Start - "))
e = int(input("End - "))

even_product = 1

for i in range(s, e + 1):
    if i % 2 == 0:
        even_product *= i
    
print(even_product)

Start - 3
End - 7
24

In [45]:
# BETTER WAY

s = int(input("Start - "))
e = int(input("End - "))

even_product = 1

if s % 2 != 0:
    s += 1
    
for i in range(s, e + 1, 2):
    even_product *= i
    
print(even_product)

Start - 3
End - 7
24

In [51]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order. 1 included.
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order. 1 included.\nN > 1 -> Given\n'

In [52]:
number = int(input("Please enter number > 1 - "))

for i in range(number, 0, -1):
    print(i)

Please enter number > 1 - 5
5
4
3
2
1

In [50]:
'''
Question 7 -
Print all the numbers from an input N to 1 in reverse order. 1 included.
Without using a negative jump!
N > 1 -> Given
'''

'\nQuestion 7 -\nPrint all the numbers from an input N to 1 in reverse order.\nWithout using a negative jump!\nN > 1 -> Given\n'

In [58]:
# Approach 1
n = int(input())

for i in range(1, n + 1):
    print((n + 1) - i, end = " ")
    
'''
n = 5
i = 1 -> 5
i = 2 -> 4
i = 3 -> 3
i = 4 -> 2
i = 5 -> 1
'''

5
5 4 3 2 1

In [55]:
# Approach 2
n = int(input())

for i in range(-n, 0):
    print(-i, end = " ")

7
7 6 5 4 3 2 1

In [57]:
name = "BIPIN"
# string is also an iterable similar to ranges

for i in name:
    print(i)

B
I
P
I
N