In [1]:
'''
Question 1 - 
Rotate a given list by 1 element.

INPUT = [1,2,3,4,5]
OUTPUT = [5,1,2,3,4]
'''

'\nQuestion 1 - \nRotate a given list by 1 element.\n\nINPUT = [1,2,3,4,5]\nOUTPUT = [5,1,2,3,4]\n'

In [2]:
a = [1,2,3,4,5]

In [3]:
a[:len(a) - 1]

[1, 2, 3, 4]

In [4]:
a

[1, 2, 3, 4, 5]

In [5]:
a[-1]

5

In [6]:
[3,4] + [5,6]

[3, 4, 5, 6]

In [7]:
def solution_1(a):
    last_element = a[-1]
    remaining_elements = a[:len(a) - 1]
    
    result = [last_element] + remaining_elements
    
    return result

In [8]:
solution_1(a)

[5, 1, 2, 3, 4]

In [9]:
def solution_1(a):
    return [a[-1]] + a[:len(a) - 1]

In [10]:
def solution_2(a):
    last_element = a.pop()
    a.insert(0, last_element)
    
    return a

In [11]:
a

[1, 2, 3, 4, 5]

In [12]:
solution_2(a)

[5, 1, 2, 3, 4]

In [13]:
'''
OPTIONAL HOMEWORK - 
Rotate a given list by n element.

INPUT - 
a = [1,2,3,4,5]
n = 7

OUTPUT = [4,5,1,2,3]
'''

'\nOPTIONAL HOMEWORK - \nRotate a given list by n element.\n\nINPUT - \na = [1,2,3,4,5]\nn = 7\n\nOUTPUT = [4,5,1,2,3]\n'

In [14]:
a = [5,6,7,8,9,10]

In [15]:
a.index(7)

2

In [16]:
a.index(20)

ValueError: 20 is not in list

In [17]:
a = [5,6,7,8,9,10,10,10,10,10,10]

In [19]:
a.index(10) # returns first occurence index

5

In [20]:
a.count(10)

6

In [21]:
a.count(100)

0

In [22]:
a = [[1,2,3], [4,5,6], [7,8,9]]

In [25]:
a[1][2]

6

In [26]:
# MATRICES

In [27]:
rows = len(a)
columns = len(a[0])

In [28]:
for i in range(rows):
    for j in range(columns):
        print(a[i][j], end = " ")
    
    print()

1 2 3
4 5 6
7 8 9

In [32]:
a = [[1,2,3], [4,5,6], [7,8,9], [0,1,2]]

In [33]:
rows = len(a)
columns = len(a[0])

In [34]:
for i in range(rows):
    for j in range(columns):
        print(a[i][j], end = " ")
    
    print()

1 2 3
4 5 6
7 8 9
0 1 2

In [35]:
'''
Question 2 - 
Take a 3x3 matrix as input from the user.

Given this matrix - 
1. Calculate the sum of all elements in the matrix
2. Calculate and print sum of each row
3. Calculate and print sum of each column
'''

'\nQuestion 2 - \nTake a 3x3 matrix as input from the user.\n\nGiven this matrix - \n1. Calculate the sum of all elements in the matrix\n2. Calculate and print sum of each row\n3. Calculate and print sum of each column\n'

In [37]:
matrix = []

for i in range(3):
    row = []
    
    for j in range(3):
        row.append(int(input()))
        
    matrix.append(row)
    
'''
matrix = []

i = 0 -> 
row = []
j = 0 -> input 1 = 5 -> row = [5]
j = 1 -> input 2 = 4 -> row = [5, 4]
j = 2 -> input 3 = 6 -> row = [5, 4, 6]

row = [5, 4, 6]

matrix = [[5,4,6]]

i = 1 -> 
row = []
j = 0 -> input 1 = 1 -> row = [1]
j = 1 -> input 2 = 2 -> row = [1, 2]
j = 2 -> input 3 = 3 -> row = [1, 2, 3]

row = [1, 2, 3]

matrix = [[5,4,6], [1,2,3]]
'''

1
2
3
4
5
6
7
8
9

'\nmatrix = []\n\ni = 0 -> \nrow = []\nj = 0 -> input 1 = 5 -> row = [5]\nj = 1 -> input 2 = 4 -> row = [5, 4]\nj = 2 -> input 3 = 6 -> row = [5, 4, 6]\n\nrow = [5, 4, 6]\n\nmatrix = [[5,4,6]]\n\ni = 1 -> \nrow = []\nj = 0 -> input 1 = 1 -> row = [1]\nj = 1 -> input 2 = 2 -> row = [1, 2]\nj = 2 -> input 3 = 3 -> row = [1, 2, 3]\n\nrow = [1, 2, 3]\n\nmatrix = [[5,4,6], [1,2,3]]\n'

In [38]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
def matrix_input(rows, columns):
    matrix = []
    
    for i in range(rows):
        row = []
        
        for j in range(columns):
            row.append(int(input()))
        
        matrix.append(row)
        
    return matrix

In [40]:
matrix_input(2,2)

1
2
3
4

[[1, 2], [3, 4]]

In [41]:
matrix = matrix_input(3,3)

1
2
3
4
5
6
7
8
9

In [42]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
def sum_all_elements(matrix):
    sum_all = 0
    
    for i in matrix:
        for j in i:
            sum_all += j
            
    return sum_all

In [46]:
sum_all_elements(matrix)

45

In [49]:
def sum_each_row(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    
    for i in range(rows):
        sum_row = 0
        
        for j in range(columns):
            sum_row += matrix[i][j]
            
        print("Sum of row", i, "=", sum_row)

In [50]:
sum_each_row(matrix)

'''
row = 3
columns = 3


'''

Sum of row 0 = 6
Sum of row 1 = 15
Sum of row 2 = 24

'\nrow = 3\ncolumns = 3\n\n\n'